.contacto{
    background-color:rgb(238,238,240);
}

.contacto h2{
    text-align:center;
    font-size:65px;
}

.contacto p{
    font-weight:600;
    font-size:35px;     
}

Form{
    margin-left:5rem;
}
.contacto input{
    border-radius: 40px;
}
.contacto textarea{
    border-radius: 30px;
}

.contacto button{
    background-color: rgb(62,60,65);
    margin: 15px;
    
}